<!-- 区域代码管理页面 -->

<style>
  *{
      margin: 0;
      padding: 0;
  }

  .row{
      overflow: inherit;
  }

  .GridHeading{
    background: #4ab033;
    /*height: 20px;*/
    padding: 8px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: white;
  }

  .GridHeading2{
    background: white; 
    color: black; 
    border-bottom: 1px solid #ccc;
    padding: 8px 15px;
  }
</style>

<link href="libs/zTree_v3/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
<script type="text/javascript" src="libs/zTree_v3/js/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="libs/zTree_v3/js/jquery.ztree.excheck-3.5.js"></script>


<div class="container" data-ng-init="initialData()">
  <div class="row nomargin">
    <form class="form-horizontal form-condensed default-form" name="formRequest" role="form" ng-model="request">

      <div class="sub-title form-condensed inline-form">
        <div class="row ">
          <div class="form-group">
            <ul class="xDetail" style="height: 40px;line-height: 40px">
              <li>区域代码管理</li>
            </ul>
            <div class="form-group flright xHandle" style="top: 15px;">           
              <span class="ml10 "><button class="bton green"  ng-click="addCountry()"><i class="icon icon-plus"></i> 新增国家</button> </span>
            </div>
          </div>
        </div>
      </div>

      <div class="content clear_after">
        <div class="col-md-3 zPanelBox">
          <div class="panel zPanel zPanelzzz1 pos" style="width:250px; top: 70px" >
            <div class="panel-heading">区域列表</div>
            <div class="panel-body pos" style="top: 40px;">
              <div class="zPanelPadding15" style="padding: 0px">
                <div class=" xDetailPatBoxmenus clear_after" style="padding: 0px;">
                  <div class="panel-body" id ="sel_area_tree" >
                    <ul id="area_tree" class="ztree pos" style="overflow-y: auto; width: 99%;"></ul>
                  </div>   
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-9 zWid75" style="width: 80%; font-size: 14px;" >
          <div class="panel pos" style="border:0px; width: 770px; top:70px; margin-left: 60px; overflow-y: auto;">
            <div>
              <div class="GridHeading" >区域信息
                <div style="float:right; margin-top: -5px;" >
                  <span class="ml10"><button class="bton green"  ng-click="addArea()"><i class="icon icon-plus"></i> 新增</button></span>
                  <span class="ml10"><button class="bton green"  ng-click="updateArea()"><i class="icon icon-edit"></i> 修改</button></span>
                  <span class="ml10"><button class="bton green"  ng-click="showDeleteArea()"><i class="icon icon-trash"></i> 删除</button></span>
                </div>
              </div>

              <div style="line-height: 24px; padding: 15px; margin-bottom: 20px;">
                <div>
                  <table class="table table-bordered" style="width: 100%;">
                    <tr>
                      <td style="width: 50%"><span>区域类型：</span>{{currentArea.area_type_name}}</td> 
                      <td><span>区域代码：</span>{{currentArea.area_code}}</td>
                    </tr>
                    <tr>
                      <td><span>区域名称：</span>{{currentArea.area_name}}</td>
                      <td><span>英文名称：</span>{{currentArea.area_name_en}}</td>
                    </tr>
                    <tr ng-show="currentArea.parent_area_id!=0">
                      <td><span>上级区域：</span>{{currentArea.parent_area_name}}</td>
                    </tr>
                    <tr ng-show="currentArea.parent_area_id==0">
                      <td><span>国&#12288;&#12288;旗：</span>{{currentArea.flag}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- 新增、修改区域信息 -->
<div class="modal" id="addPage" tabindex="-1" role="dialog" aria-labelledby="resizedModalTitle" aria-hidden="true" >
  <div class="xMask"></div>
  <div class="modal-dialog" style="width: 360px; " >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="resizedModalTitle"><i class="icon-list-alt"></i> {{editMode}}区域代码信息</h4>
      </div>
      <div class="modal-body" style="">
        <form class="form-horizontal" role="form" method='post'>
          <div class="container" style="padding: 20px;">
            <div class="xDetailPatBoxDataTop" style="margin-bottom: 5px;">
              <div style="height: 40px;"><span>区域代码：</span>
                <input id="menu_code" type="text" ng-model="editedArea.area_code" style="width: 160px; height: 20px; text-indent: 2px;" required/>
              </div>
              <div style="height: 40px;"><span>区域名称：</span>
                <input id="menu_name" type="text" ng-model="editedArea.area_name" style="width: 160px; height: 20px; text-indent: 2px;" required/>
              </div>
              <div style="height: 40px;"><span>英文名称：</span>
                <input id="menu_sort" type="text" ng-model="editedArea.area_name_en" style="width: 160px; height: 20px; text-indent: 2px;" required/>
              </div>
              <div style="height: 35px;" ng-show="editedArea.parent_area_id!=0"><span>上级区域：</span>
                <input type="text" ng-model="editedArea.parent_area_name" style="width: 160px; height: 20px; text-indent: 2px;" readonly>
              </div>
              <div style="height: 35px;" ng-show="editedArea.parent_area_id==0"><span>国&#12288;&#12288;旗：</span>
                <input type="text" ng-model="editedArea.flag" style="width: 160px; height: 20px; text-indent: 2px;" readonly>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-grn" ng-click="confirmToSave()">确定</button>
        <button type="button" class="btn btn-grn" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>

