<!-- 节目单管理 -->


<style>
  *{
      margin: 0;
      padding: 0;
  }

  .row{
      overflow: inherit;
  }

</style>

<div class="container" data-ng-init="initialData()">
  <div class="row nomargin">
    <form class="form-horizontal form-condensed default-form" name="formRequest" role="form" ng-model="request">

      <div class="sub-title form-condensed inline-form">
        <div class="row ">
          <div class="form-group">
            <ul class="xDetail" style="height: 40px;line-height: 40px">
              <li>节目单管理</li>
            </ul>
            <div class="form-group flright xHandle" style="top: 15px;">           
              <span class="ml10 "><button class="bton green"  ng-click="createProgramList()"><i class="icon icon-list-alt"></i> 创建</button> </span>
              <span class="ml10 "><button class="bton green"  ng-click="exportToFile()"><i class="icon icon-download-alt"></i> 导出</button> </span>
            </div>
          </div>
        </div>
      </div>

      <!-- 下拉列表 -->
      <div class="row xAcount">
        <div class="form-group">
          <span class="i-form-label ml10">申请人：</span>
          <div class="i-form-field">
            <ui-select ng-model="applyerList.selected" theme="select2" ng-change="searchProgram()" style="width: 300px">
              <ui-select-match placeholder="选择全部">
                  <span ng-bind="$select.selected.name"></span>
              </ui-select-match>
              <ui-select-choices repeat="item in (applyerList | filter: $select.search) track by item.name">
                  <span ng-bind="item.name"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="form-group">
          <span class="i-form-label ml10">生效日期：</span>
          <div class="i-form-field search">
            <input type="text" class="form-date form-control choosetime" style="text-indent: 2px;width: 300px;" ng-model="selectedValidDate" data-date-format="yyyy-mm-dd" placeholder="生效日期" ng-change="searchProgram()"  >
            <!-- <i class="icon icon-minus-sign" style="cursor: pointer;" ng-click="resetTime()"></i> -->
            <span class="cancel" ng-click="resetTime()">&times;</span>
          </div>
        </div>

        <div class="form-group">
          <span class="i-form-label ml10">申请状态：</span>
          <div class="i-form-field">
            <ui-select ng-model="applyStatusList.selected" theme="select2" ng-change="searchProgram()" style="width: 300px">
              <ui-select-match placeholder="选择全部">
                  <span ng-bind="$select.selected.name"></span>
              </ui-select-match>
              <ui-select-choices repeat="item in (applyStatusList | filter: $select.search) track by item.code">
                  <span ng-bind="item.name"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="form-group">
          <span class="i-form-label ml10">发送状态：</span>
          <div class="i-form-field">
            <ui-select ng-model="sendStatusList.selected" theme="select2" ng-change="searchProgram()" style="width: 300px">
              <ui-select-match placeholder="选择全部">
                  <span ng-bind="$select.selected.name"></span>
              </ui-select-match>
              <ui-select-choices repeat="item in (sendStatusList | filter: $select.search) track by item.code">
                  <span ng-bind="item.name"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>      
      <!-- 下拉列表 -->

      <div class="sub-title form-condensed inline-form" >
        <div class="row">
          <div class="form-group cDetailPat" style="margin-top: 60px;">
            <label class="clabel">节目单清单</label>
            <div class="cTriangle"></div>
          </div>  
        </div>
      </div>

      <div class="cItemBoxMine">
        <table class="table table-bordered tbRow" style="margin-top: 10px;" >
          <thead>
            <tr>
              <th style="width: 3%">序号</th>
              <th style="width: 30%">节目单名称</th>
              <th style="width: 8%">生效日期</th>
              <th style="width: 8%">申请人</th>
              <th style="width: 8%">申请日期</th>
              <th style="width: 8%">审批人</th>
              <th style="width: 8%">审批日期</th>
              <th style="width: 8%">申请状态</th>
              <th style="width: 8%">发送者</th>
              <th style="width: 8%">发送日期</th>
              <th style="width: 5%">发送状态</th>
              <!-- <th style="width: 10px"></th> -->
              <th style="width: 5%">操作</th>
            </tr>
          </thead>
          <tr><td class="ctdLine" colspan="19" rowspan="1" style="padding: 0px; border-top: 1px solid #ccc;"></td></tr>

          <tbody>
            <tr ng-repeat="item in programList" class="hovershow trHover" title="双击查看详情" ng-dblclick="showProgramListDetail(item)">
              <td class="" style="text-align: center;">{{item.no}}</td>
              <td class="" style="text-align: center;">{{item.name}}</td>

              <td class="" style="text-align: center;">{{item.valid_date}}</td>
              <td class="" style="text-align: center;">{{item.apply_name}}</td>
              <td class="" style="text-align: center;">{{item.apply_date}}</td>
              <td class="" style="text-align: center;">{{item.checker_name}}</td>
              <td class="" style="text-align: center;">{{item.check_date}}</td>
              <td class="" style="text-align: center;">{{item.apply_status_name}}</td>
              <td class="" style="text-align: center;">{{item.sender_name}}</td>
              <td class="" style="text-align: center;">{{item.send_date}}</td>
              <td class="" style="text-align: center;">{{item.send_status_name}}</td>
              <td class="showdelete" >
                <i class="icon icon-edit" title="详情" ng-click="updateProgramList(item)" ng-show="item.apply_status!='3'"></i>
                <i class="icon icon-trash" title="删除" ng-click="showDeleteProgramListDlg(item)" ng-show="item.apply_status!='3'"></i>
                <i class="icon icon-copy" title="复制" ng-click="copyProgramList(item)" ng-show="item.apply_status=='3'"></i>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </form>

    <div class="footer">
      <ul class="pager" id="pager">
        <li class="previous" ><a href="" id="first" ng-click="page($event)">首页</a></li>
        <li class="previous" ><a href="" id="prev" ng-click="page($event)">上一页</a></li>
        <li ><a href="" id="beforeSL">...</a></li>
        <li ng-repeat="pageNumber in pager.pageNumbers"><a href=""class=""id="{{pageNumber}}" ng-click="page($event)">{{pageNumber}}</a></li>
        <li ><a href="" id="afterSL">...</a></li>
        <li class="next"><a href="" id="next" ng-click="page($event)">下一页</a></li>
        <li class="next"><a href="" id="last" ng-click="page($event)">尾页</a></li>
        <li class="xColor" ng-show="totalPage">|</li>
        <li class="xColor" ng-show="totalPage">共{{totalPage}}页</li>
      </ul>
    </div>
  </div>
</div>

<!-- 新增、更新节目单 -->
<div class="modal" id="addPage" tabindex="-1" role="dialog" aria-labelledby="resizedModalTitle" aria-hidden="true" >
  <div class="xMask"></div>
  <div class="modal-dialog" style="width: 360px; height: 240px;" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="resizedModalTitle"><i class="icon-eye-open"></i> {{listMode}}节目单信息</h4>
      </div>
      <div class="modal-body" style="width: 100%; height: 100%">
        <form class="form-horizontal" role="form" method='post'>
          <div class="container" style="padding: 20px;">

            <div class="xDetailPatBoxDataTop" style="margin-bottom: 5px;">
              <div style="height: 40px;"><span>名&#12288;&#12288;称：</span>
                <input id="list_name" type="text" ng-model="showListInfo.name" style="width: 160px; height: 20px; text-indent: 2px;" required/>
              </div>
              <div style="height: 40px;"><span>生效日期：</span>
                <input id="list_valid_date" type="text" class="form-date form-control choosetime" style="text-indent: 2px; width: 160px; height: 20px;" ng-model="showListInfo.valid_date" data-date-format="hh:ii" placeholder="生效日期">
                <!-- <span class="cancel" ng-click="resetTime2()">&times;</span> -->
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-grn" ng-click="confirmToSaveListInfo()">确定</button>
        <button type="button" class="btn btn-grn" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $('.form-date').datetimepicker(
  {
    language:  'zh-CN',
    weekStart: 1,
    todayBtn:  0,
    autoclose: 1,
    todayHighlight: 0,
    startView: 2,
    minView: 2,
    forceParse: 0,
    format: 'yyyy-mm-dd',
  });
</script>


