
<div class="container">
<div class="row">
	<div class="tab-content tab-bordered">
	        <div style="float: left;">
		<iframe id="report" name="report" src="/system/views/shearphoto.html" style="margin:0px auto;min-width:1000px; min-height:720px"></iframe>
		</div>
		<div style="float: left;">
		<button class="button hui ml10" href="" onclick="goBack()"> 返回</button>
		</div>
	</div>
	<script type="text/javascript">
	    function goBack(){
		window.history.go(-1);
	    }
	</script>
</div>
</div>