
.YColor{
    color: #333333;
}
.Yli_a_index{
    margin-left: 64px;
}

.Yflright{
    float: right;
}
.xq{
    font-size: 16px;
    color: #333;
    font-family: 'Microsoft YaHei', '微软雅黑','helvetica', 'Arial';
}
.Ysub-title{
    margin-bottom: 15px;
    color: #333;
    border-radius: 3px;
}
.Ybox1{
   min-height: auto;
    overflow: hidden;
    width: 100%;
}
.Ybox1 .inline-form{
    padding: 10px;
    margin-top: 15px;
}
.yspan{
    float: left;
    color: #8F8F8F;
    font-size: 14px;
    line-height: 26px;
}
.Ybox1 .inline-form .i-form-label{
    padding-top: 5px;
}
.Ybox1 .i-form-label{
    text-align: left;
    padding-top: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    font-size: 14px;
}
.Ybox1 .form-label, .Ybox1 .form-field, .Ybox1 .i-form-label, .Ybox1 .i-form-field, .Ybox1 .l-form-field, .Ybox1 .ll-form-field{
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 14px;
}
.Ybox1 .sub-title{
    color: #8F8F8F;
}
.Ybox1 .form-control{
    line-height: 1.5;
    border-radius: 3px;
     vertical-align: middle;
    background-color: #fff;
    border: 1px solid #A9A9A9;
   padding-left: 27px;
}
.yselect_option{
    text-align: center;
}

.ywitdh{
    /*width: 100%;*/
}
.yy .yi-form-label{
    /*margin-left: 150px;*/
}
.yi-form-label{
   margin-left: 40px;
}
.Yinput1{

    line-height: 2;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #A9A9A9;
    font-size: 14px;
        width: 148px;
    padding-left: 10px;
}
.Yspan3{
    /*height: 24px;*/
}
.yselect{
    width: 160px;
    height: 30px;
    border-color: #A9A9A9;
    color: #4AB033;
}
.yi-form-labTime{
    margin-left: 40px;
    font-size: 14px;
}
.Yform-date{
    border-color: rgb(169, 169, 169);
    height: 30px;
    width: 160px;
    padding-left: 10px;
    color: #4AB033;
}
.yspans{
    font-size: 14px;
}
.Yform-date2{
    border-color: rgb(169, 169, 169);
    height: 30px;
    width: 163px;
    padding-left: 10px;
    border: 1px solid #A9A9A9;
    color: #4AB033;
}
.Yml20{
    margin-left: 30px;
    width: 80px;
    height: 30px;
}
.YItemBox3 input, .YItemBox2 input, .YItemBox5 input{
    padding-left: 5px;
}
.Ypanel input{
    padding-left: 3px;
}
.Ybox1 .content .block-item .YItemBox .bi-item:nth-of-type(1), .Ybox1 .sub-title .row .YDetailPat label, .Ybox1 .sub-title .row label{
    display: inline-block;
    height: 34px;
    background: #4AB033;
    line-height: 34px;
    color: #fff;
    padding: 0 15px;
    position: relative;
    float: left;
}
.Ybox1 .content .block-item{
    font-size: 14px;
}
.Ybox1 .content .block-item .YTriangle, .YTriangles{
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 20px solid #4AB033;
    border-bottom: 34px solid transparent;
    transform: rotate(180deg);
    position: absolute;
    right: -20px;
    top: 0;
}
.Ybox1 .bi-label, .Ybox1 .bi-value{
    float: left;
}
.YImgBox{
    cursor: pointer;
    margin-top: 34px;
   overflow: hidden;
    height: auto;
    padding: 10px 0;
    border-top: 2px solid #4AB033;
    border-bottom: #4AB033 1px solid;
    border-left: #4AB033 1px solid;
    border-right: #4AB033 1px solid;
}

.YPhoto>.bi-item{
    float: left;
}
.Ybi-value{
    margin-left: 30px;
    margin-top: 7px;
}
.Ybi-value1{
    width: 65%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/*.Ybi-item{
    line-height: 30px;
}*/
.Ybi-label{

     color: #8F8F8F;
    margin-left: 20px;
}
.Ybi-labe2{
    color: #8F8F8F;
    margin-left: 60px;
}
/*==================================*/
.Ysub-title ul li{
    /*float: left;*/
}
/*.yform-group{
    padding-top: 15px;
    padding-bottom: 15px;
    overflow:hidden;
}*/
.Ybox1s{
    padding-bottom: 30px;
}
.YItemBox1{
    line-height: 34px;
    color: #fff;
    float: left;
    padding: 0 15px;
    display: inline-block;
    height: 34px;
    width: auto;
    background-color: #4AB033;
    position: relative;
    margin-top: 20px;

}
.triangle{

    border-left: 0px solid transparent;
    border-right: 20px solid #4AB033;
    border-bottom: 34px solid transparent;
    transform: rotate(180deg);
    position: absolute;
    right: -20px;
    top: 0;
}
.Ypanel{
    /*height: 120px;*/
    height: 100px;
    margin-top: 54px;
    border-top: 2px solid #4AB033;
    border-bottom: #4AB033 1px solid;
    border-left: #4AB033 1px solid;
    border-right: #4AB033 1px solid;
}
.Ypanels{
     margin-top: 54px;
    overflow: hidden;
    border-top: 2px solid #4AB033;
    border-bottom: #4AB033 1px solid;
    border-left: #4AB033 1px solid;
    border-right: #4AB033 1px solid;
}
.Ypanels tr td{
   padding-top: 20px;
   font-size: 13px;
}
.Ypanel tr td{
    padding-top: 20px;
    font-size: 13px;
}
.Yjoin_hospital{
    margin-left: 100px;
    color: #3b3b3f;
    display: inline-block;
}
.Ymid_hospital{
    padding-left: 15px;

}
.Yform-control{
    padding-left: 5px;
    width: 154px;
    /*height: 30px;*/
    color: #4AB033;
}
.Ymid_hospitalTime{
    padding-left: 15px;
    display: inline-block;
   /* margin-top: 5px;*/
    color: #3b3b3f;
}
.Yflright1{
    display: inline;
    margin-top: 20px;
}
.Yhr{
    width: 100%;
   overflow: hidden;
    border-top: 2px solid #4AB033;
    border-bottom: #4AB033 1px solid;
    border-left: #4AB033 1px solid;
    border-right: #4AB033 1px solid;
}
.Yml10{
    float: right;
    margin-top: 25px;
    font-size: 14px;
}
.Ysave{
    width: 100%;
    height: 160px;
    position: relative;
}
.Ysaves{
    width: 100%;
   overflow: hidden;
}
.Ysave_middle{
    width: 100%;
    height: auto;
    position: absolute;
    text-align: center;
    margin-top: 60px;
}
.Ysave_middles{
     width: 100%;
     text-align: center;
     overflow: hidden;
     margin-top: 30px;
     margin-bottom: 30px;
}
.Ygreen{
    width: 100px;
    height: 30px;
    font-size: 14px;
}
.Ysave_span{
    padding-right: 30px;
}
.Ycontent1{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.Yactive{
    padding-right: 10px;
}
.Yblock-item{
   margin: 20px 0 0 18px;
    float: left;
    width: 234px;
    height: auto;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
}
.Ycondition{
    /*padding-bottom: 8px;*/
}
.Ybi-item1{
    width: 91%;
    height: auto;
    overflow: hidden;
    margin: 10px 0 10px 10px;
    font-size: 14px;
}
.Ybi-label1{
    display: inline;
    float: left;
    color: #858585;
}
.YY{
    color: #858585;
}
.Ybi-btn-wraper{
    position: absolute;
    margin-left: 180px;
    margin-top: 10px;
     display: none;
    z-index: 20;
}
.Ybutton1{
    margin-bottom: 5px;
    display: block;
}
.Yblock-item:hover .Ybi-btn-wraper{
    display: block;
}
.Ystates{
    float: right;
}
.Ystates_but{
    padding: 7px 12px;
    font-size: 14px;
}
.Ycompile_btn{
    font-size: 14px;
}
.Ycompile{
    margin-top: 20px;
    float: right;
}
.Ymodal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
}
.Ymodal .modal.in .modal-dialog{
    transform: translate3d(0, 0, 0);
}
.Ymodal .Ymodal-content{
    margin: auto;
}
.Ymodal .modal-dialog{
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
}
.Ymask{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    top: 0;
    left: 0;
    opacity: .2;
    overflow: hidden;
    z-index: -1;
}
.modal-body{
    position: relative;
}
.gre{
    width: 161px;
    height: 30px;
    color: #4AB033;
   font-size: 14px;
}
.greY{
    width: 165px;
    height: 30px;
    color: #4AB033;
   font-size: 14px;
}
.Y_pay{
    width: 162px;
    height: 30px;
    color: #4AB033;
   font-size: 14px;
}
.Ygre{
    width: 480px;
    height: 60px;
    margin-top: 10px;
}
.Ynamesss{
    width: 20.2%;
    padding-left: 15px;
}
.Yhos_sel{
    width: 154px;
    height: 30px;
    color: #4AB033;
}
.Ybusin{
    width: 480px;
    height: 60px;
    margin-top: 15px;
    font-size: 15px;
}
.YUnits{
    width: 165px;
    height: 30px;
    color: #4AB033;
    font-size: 15px;

}
.YBussin{
    width: 100%;
    overflow: hidden;
    display: block;
}
.Ypay_input{
    width: 158px;
    line-height: 30px;
}
.Ycol-md-2{
    padding-right: 70px;
}
.modal-footer{
    display: block;
    margin: auto;
}
.YImgBox2_td3{
    padding-left: 20px;
    width:76%;
}
.modal-footer button{
    font-size: 14px;
}
.Ybtn-default{
    margin-right: 15px;
}
.Ybtn-success{
    margin-left: 15px;
}
.Ytable input{
    font-size: 14px;
}
.Ytable tr{
    line-height: 45px;
}
.Ytable .col-md-1{
    color:#858585;
}
.Ygre2{
    width: 260px;
}
.Ydivision{
    padding-left: 10px;
}
.Yform-horizontal-info{
    margin: auto;
    width: 90%;
    height: 30px;
    outline: 1px solid red;
}
.modal-body-span{
    width: 100%;
    height: 50px;
    overflow: hidden;
}
.Ycol-md2{
    padding-right: 130px;
}
.Ycolor{
    color: #858585;
    font-size: 13px;
    padding-right: 10px;
}
.Yredact{
    font-size: 16px;
    color:#4AB033;
    margin-right: 30px;
}
.YmianSearchB{
    width: 80px;
    height: 30px;
    line-height: 20px;
    font-size: 14px;
}
.Yml20 img{
    float: left;
    margin-top: 3px;
    padding-left: 4px;
    top: 2px;
}
.YPrint_a{

    border-radius: 5px;
    padding: 5px 18px;
    margin-left: 10px;
    color: white;
    font-size: 15px;
    font-weight: 100;
    background-color: #4AB033;
    vertical-align: -1px;
     cursor:pointer;
}
.YImgBox2{
    cursor: pointer;
     margin-top: 34px;
    height: auto;
    padding: 10px 0;
    border-top: 2px solid #4AB033;
    border-bottom: #4AB033 1px solid;
    border-left: #4AB033 1px solid;
    border-right: #4AB033 1px solid;
    overflow: hidden;
}
.Ybi-labe3{
    padding-left: 73px;
}
.YImgBox2 tr{
    line-height: 25px;
}
.YImgBox2_td1{
    width: 50%;
    height: 20px;
}
.YImgBox2_td2{
    width: auto;
    height: 20px;
}
.Yyear_manage li{
    float: left;
}
.Yyear_manage1:hover{
    color: #4AB033;

}
.YItemBox3, .YItemBox2, .YItemBox6{
    width: 99.8%;
    overflow: hidden;
    border-top: 2px solid #4AB033;
    border-right:1px solid #4AB033;
    border-left:1px solid #4AB033;
     border-bottom:1px solid #4AB033;
     font-size: 13px;
}
.YItemBox3Fran{
    width: 99%;
    overflow: hidden;
    margin-top: 14px;
    border-top: 2px solid #4AB033;
    border-right:1px solid #4AB033;
    border-left:1px solid #4AB033;
     border-bottom:1px solid #4AB033;
     font-size: 13px;
}
.YItemBox3 .col-md-1{
   width: 68px;
   color: #8F8F8F;
}
.YItemBox3 tr td{
    padding: 10px 0;
}
.YItemBox3 table{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.YItemBox3Fran .col-md-1{
    width: 7%;
   color: #8F8F8F;
}
.YItemBox3Fran tr td{
    padding: 10px 0;
}
.YItemBox3Fran table{
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
}
.YinputGre{
    width: 140px;
    height: 30px;
    /*color: #4AB033;*/
    font-size: 14px;
}
.col-md-1ss{
    width: 74px;
}
.Ycol-md-2ss-hos{
    width:182px;
    margin-left: 10px;
}
.Ycol-md-2ss-dep{
    width: 188px;
}
.Ycol-md-2ss-deps{
    width: 185px;
}
.YItemBox2 tr td{
     padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.YItemBox2 .col-md-1{
    color: #8F8F8F;
}


.YItemBox3_table2{

}
.YItemBox3 .col-md-2{
    width: 5%;
}
.Yremarks{
    width: 160px;
    height: 30px;
    color: #4AB033;
    font-size: 14px;
}
.YRequired{
    float: left;
    padding-top: 18px;
}
.Yss{
    width: 1036px;
}
.YImgBox2_td2s{
    width: auto;
}
.table_twoR{
    margin-top: 10px;
    line-height: 60px;
}
.Yinfo{
    padding: 10px 10px 0 10px;
    margin-top: 15px;
}
.yi-form-startTime{
    border-color: #A9A9A9;
    height: 30px;
    width: 148px;
    padding-left: 10px;
    color: #4AB033;
}
.Ybi-btn-wraper{
    margin-right: 20px;
    margin-top: 4px;
}
.YItemBox4 table{
    width: 100%;
    text-align: center;
    overflow: hidden;
    border-collapse: collapse;
    border-top: 2px solid #4AB033;
    border-right:1px solid #4AB033;
    border-left:1px solid #4AB033;
     border-bottom:1px solid #4AB033;
     font-size: 13px;
}
.YItemBox4 table th, .YItemBox4 table td{
    width: 130px;
    height: 30px;
    border: 1px solid #4AB033;
}
.Ytop{
    padding-top: 25px;
    padding-left: 50px;
}
.Yform-date3{
    border-color: rgb(169, 169, 169);
    height: 22px;
    width: 148px;
    padding-left: 10px;
    border: 1px solid #A9A9A9;
    color: #4AB033;
}
.Ytz{
    color: #4AB033;
   padding-left: 10px;
   padding-top: 7px;
   font-size: 15px;
   cursor:pointer;

}
.YImgBox2_tm1{
    width:70%;
    height: 20px;

}

.YImgBox2_tm2{
    padding-left: 20px;
    width: auto;
    height: 20px;
}
.Yhidde{
    display: inline;
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
 }
.Ytm_add{
    z-index: 10;
    float: right;
    margin-top: -30px;
    margin-bottom: 10px;

}
.Yname{
    padding-left: 15px;
}
.Yinput3{
    line-height: 2;
    width: 228px;
    background-color: #fff;
    border: 1px solid #A9A9A9;
    font-size: 14px;
}
.YCinput3{
    line-height: 1.5;
    width: 228px;
    background-color: #fff;
    border: 1px solid #A9A9A9;
    font-size: 14px;
}
.Yasd{
    /*width: 10%；*/
}
.Ycol-md-1{
    width: 36%;
}
.Yinput4{
    line-height: 2;
    width: 120px;
    background-color: #fff;
    border: 1px solid #A9A9A9;
    font-size: 14px;
}
.YCinput4{
    line-height: 1.5;
    width: 60px;
    background-color: #fff;
    border: 1px solid #A9A9A9;
    font-size: 14px;
}
.Yue4{
     width: 10%;
}
.Yue{
     width: 5.7%;
}
.hide input{
    padding-left: 5px;
}
.Ynamesa{
    width: 14%;
    padding-left:30px;
}
.Yinput5{
    line-height: 2;
    width: 46px;
}
.YCinput5{
    line-height: 1.5;
    width: 40px;
}
.Ydaya{
    width:9%;
}
.Ynames{
    padding-left: 15px;
    width: 11%;
}
.Yday{
    width: 10%;
}
.Ydayy{
    width: 11.9%;
}
.Ygre_sele{
    width: 170px;
    height: 30px;
    color: #4AB033;
}
.Ygre_seles, .Ygre_input{
     width: 161px;
    height: 30px;
    color: #4AB033;
}

.Ynamess{
    padding-left: 15px;
    width: 18%;
}
.Ysadad{
    width: 39px;
}
.Yzi{
    width: 50%;
}
.Yright{
    text-align: right;
}
.YView{
    padding-top: 28px;
    padding-right: 10px;
    float: right;
}
.YView_color{
    color: #5CB649;
}
.Yhide_div{
    margin-top: 53px;
    border-top: 2px solid #4AB033;
    border-right:1px solid #4AB033;
    border-left:1px solid #4AB033;
    border-bottom:1px solid #4AB033;
}
.YItemBox5{
     width: 99%;
    overflow: hidden;
    font-size: 13px;
}

.YItemBox5 tr td{
     padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.YItemBox5 .col-md-1{
    color: #8F8F8F;
}

.Ypanelss{
    /*padding-top: 32px;*/
    width: 99.7%;
    overflow:hidden;
    cursor: pointer;
    border-top: 2px solid #4AB033;
    border-bottom: #4AB033 1px solid;
    border-left: #4AB033 1px solid;
    border-right: #4AB033 1px solid;

}
.Ycontent_box{
    overflow: hidden;
}
.Yblock-items{
    position: relative;
    margin: 20px 0 0 18px;
    float: left;
    width: 30.7%;
    height: auto;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
}
.Ypanelss tr td{
   padding-bottom: 10px;
   font-size: 13px;
}
.Ypanelss table{
    width: 100%;
}
.Ypanelss_td1{
    width: 40%;
     padding-top: 15px;
}
.Ypanelss_td2{
    width: 20%;
    padding-top: 15px;
}
.Ybaozi{
    height: 135px;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
}

.YItemBoxs{
    display: inline-block;
    height: 34px;
    background: #4AB033;
    line-height: 34px;
    color: #fff;
    padding: 0 15px;
    position: relative;
    float: left;

}
.YTriangl{
    width: 0;
    height: 0;
    float: left;
    display: block;
    border-left: 0px solid transparent;
    border-right: 20px solid #4AB033;
    border-bottom: 34px solid transparent;
    transform: rotate(180deg);
    position: absolute;
    right: -20px;
    top: 0;
}
.Ysanc{
    float: right;
    padding-top: 6px;
    cursor: pointer;
    padding-right: 10px;
}
.Ysele{
    width: 438px;
    vertical-align: -50px;
}
.YItemBox3Fran .col-md-2{
    width: 4%;
}
.Ycolorh{
    color: #FFA042;
}
.YItemBox2 .col-md-2s{
    width:17.8%;
}
.YItemBox2 .col-md-1s{
    color: #8F8F8F;
}
.YItemBox2 .Ycol-md-2{
    width:26.7%;
}
.Yml10 img{
    padding-right:5px;
    float: left;
}
.Yml10 a{
    outline: 0;
}


/*================业务计费==================*/
.YPatNav ul{
    width: 100%;
    overflow: hidden;
}
.YPatNav ul li{
    /*width: 130px;
    height: 40px;
    float: left;
    font-size: 16px;
    list-style: none;
    line-height: 40px;
    text-align: center;
    background: #f40;
    margin-right: 16px;*/
    float: left;
    margin: 20px 0 0 0;
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    color: #635F5F;
}
.YPatNav ul li a{
    color: #635F5F;
}

.YPatNav ul li.active{
    border-top: 1px solid #635F5F;
    border-left: 1px solid #635F5F;
    border-right: 1px solid #635F5F;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    color: #635F5F;
}
.YPatNav ul li:hover{
    border-top: 1px solid #635F5F;
    border-left: 1px solid #635F5F;
    border-right: 1px solid #635F5F;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    color: #635F5F;
}
.YPatNav ul li.active a{
    color: #635F5F;
}
/*.YPatNavs ul li .active a{
    color: white;
    /*background: #cc44b9;*/
/*}*/
/*.YPatNavs ul li[title*="全部考勤"]{
     background: #cc44b9;
}
.YPatNavs ul li[title*="未确认"]{
     background: #906eff;
 }
.YPatNavs ul li[title*="已确认"]{
    color: green;
}
.YPatNavs ul li[title*="停诊"]{
    color: green;
}*/

.sa{
    border: 1px solid red;
}
.Yinput6{
    width: 100px;
    height: 30px;
    color: #FF9342;
}
.YItemBox6 table{
    width: 98%;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.YItemBox6 th, .YBussiness_td1 {
    text-align: center;
    line-height: 30px;
    width: 190px;
}
.YBussiness_td{
    /*width: 30%;*/
    padding-right: 80px;
    text-align: right;
    line-height: 30px;
}
.YBussiness_td2{
    padding-right: 93px;
     text-align: right;
    line-height: 30px;
}
.mama{

    border-top: 1px solid #858585;
}
.YBussinesstable{
    overflow: hidden;
}
.YItemBox7 th{
    width: 70px;
}
.YItemBox7 td{
    line-height: 30px;
}
.Yall_td{
    text-align: center;
}
.Yall_td1{
    text-align: right;
    /*padding-right: 18px;*/
}
.Yall_td2{
    text-align: right;
    padding-right: 35px;
}
.YBussinesstable table th{
    border-spacing: spacing;
}

/* ===================打印============= */

.Yii, .Yii1{
    width: 100%;
}

.Yii thead tr th{
    text-align: center;
    width: 20px;
    font-size: 15px;
    color: #999999;
    font-weight: 100;
    padding: 5px 0;

}
.Yii tbody tr td{
    text-align: center;
    font-size: 14px;
    padding: 10px 0;
}
.Yii{
    border-collapse: collapse;
}
.Yii th{
    border-top:1px solid #BABABA;
    border-bottom:1px solid #BABABA;
}
.Yii1{
    border-collapse: collapse;
}
.Yii1 th{
    border-top:1px solid #BABABA;
    border-bottom:1px solid #BABABA;
}
.Yii2{
    border-collapse: collapse;
}
.Yii2 th{
    border-top:1px solid #BABABA;
    border-bottom:1px solid #BABABA;
}
.Yii1 thead tr th{
    text-align: center;
    width: 60px;
    font-size: 15px;
    color: #999999;
    font-weight: 100;
    padding: 5px 0;
}
.Yii1 tbody tr td{
    text-align: center;
    font-size: 12px;
    padding: 10px 0;
}
.Yii2 thead tr th{
    text-align: center;
    /*width: 10%;*/
    font-size: 15px;
    color: #999999;
    font-weight: 100;
    padding: 5px 0;

}
.Yii2 tbody tr td{
    text-align: center;
    font-size: 12px;
    padding: 5px 0;
}
.Yprint_name{
    font-size: 12px;
}
.Yprint_name span{
    float: right;

}
header{
    margin:0;
    padding: 0;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}
header img{
    width: 247px;
    height: 48px;
}
.Ytable_title{
    width: 100%;
    height: 30px;
    font-size: 20px;
    color: #333333;
    text-align: center;
    /*margin-bottom: 5px;*/
}
.Ytable_times{
    width: 100%;
    height: 20px;
    font-size: 18px;
    color: #C4C4C4;
    text-align: center;
    margin-bottom: 20px;
}

.YFYRBussinessAinput select{
    padding-left: 40px;
}
.Yprintss{
    cursor:pointer;
}
/* ===================打印============= */

.YPatNavs{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border-bottom: 1px solid #4AB033;
}
.YPatNavs ul li{
    width: 70px;
    height: 40px;
    float: left;
    list-style: none;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    margin-right: 10px;
    /*background-color: #4AB033;*/
}
.YPatNavs ul li a{
    color: #8F8F8F;
}
.YAll_department{
    width: 250px;
    height: 250px;
    border:1px solid red;
    margin-right: 20px;
    float: left;
}
.col-md-2ss{
    padding-left: 50px;
}

.Ybtn{
    z-index: 5;
    float: right;
    margin-top: -25px;
    margin-right: 10px;

}
.YupDate{
    z-index: 40px;
    float: right;
    width:60px;
    height: 150px;
     color: 20px;
    margin-top: 15px;
}
.YHos_confirm{
    font-size: 16px;
    color: white;
    padding:5px 10px;
    background-color: #4AB033;

}
.addconfirm{
    width: 99%;
    overflow: hidden;
    margin: auto;
    border-top: 1px solid #4AB033;
}


/* ===================基础信息打印============= */
.YCtableF {
    border-collapse: collapse;
    width: 100%;
    line-height: 2.5;
    text-align: center;
    font-size: 14px;
    margin-bottom: 25px;
}
.YCtableFF {
    border-collapse: collapse;
    width: 100%;
    line-height: 2.5;
    text-align: center;
    font-size: 14px;
    margin-bottom: 25px;
}
.YCtableF span {
    font-size: smaller;
}
.YCdivF{
    display: inline-block;
    margin-bottom: 15px;
    float: left;
    width: 100%;
    font-size: 13px;
}
.YCtableF th{
    font-weight: 500
}

.YCdivF div:nth-child(1){
    float: left;
}

.YCdivF div:nth-child(2){
    float: right;
}

.YCtableF tr:nth-child(1) td{
    color:#cccccc;
}


/* ===================基础信息打印============= */


.Yfund{
    height: 21px;
    line-height: 21px;
}
.Yfundform-control{
    padding-left: 5px;
    width: 154px;
    height: 21px;
    color: #4AB033;
}

.Ybtn_notification{
    font-size: 13px;
    position: absolute;
    display: inline;
    right: 10px;
    padding: 0 5px;
    top: 10px;
    border-radius: 2px;
    height: 24px;
    line-height: 24px;
}
.Ybtn_notification[title*="已确认"]{
    background: #4AB033;
    color: #fff;
}
.Ybtn_notification[title*="未确认"], .Ybtn_notification[title*="停诊"]{
    background: #FF6F6F;
    color: #fff;
}
.YpagerBox{
    clear: both;
}
.YFYRBussinessAinput>input{
    width: 158px;
    height: 25px;
    text-indent: 10px;
}
.YFYRBussinessAinput{
    padding: 10px;
}
