

<div class="container pos" data-ng-init="initialData()" style="width: 98%">
  <div class="row nomargin pos">
    <form class="form-horizontal form-condensed default-form" name="formRequest" role="form" ng-model="request">

      <div style="float: left; display: inline; width: 48%; height: 920px;">
        <video src="{{videoUrl}}" style="width: 100%; height: 100%" autoplay="autoplay" controls="controls" loop = 'loop' muted></video>
      </div>
      <div style="float: left; display: inline; width: 50%; height: 920px; margin-left: 10px;">
        <img class="screenPic" src="/resource/images/background.jpg" style="width: 100%; height: 100%">
      </div>

    </form>
  </div>
</div>
